/chatbot/venv
/chatbot/Pipfile
/chatbot/Pipfile.lock
/chatbot/.env
/chatbotbot_log.txt
/chatbot/logs
/frank/.pio
/frank/.vscode/.browse.c_cpp.db*
/frank/.vscode/c_cpp_properties.json
/frank/.vscode/launch.json
/frank/.vscode/ipch
/frank/src/credentials.h

# use aws_iot_certicates_sample.c as an example
aws_iot_certificates.c